APP_PORT=8081
SSO_API_URL=http://localhost:8080
CLIENT_URL=http://localhost:3001
GOOGLE_API_KEY=your-api-key-here
GOOGLE_CALENDAR_ID=id.indonesianholiday@group.v.calendar.google.com

# Database PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=laci_v3